<nav class="bg-white shadow-sm">
   <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
     <div class="flex items-center">
      <img alt="GreenBite" class="h-8" src="\assets\images\logo.png" />
      <span class="ml-2 text-xl font-semibold text-gray-800">
       GreenBite
      </span>
     </div>
      <button class="navbar-toggle text-3xl md:hidden">☰</button>
 
     <div class="hidden md:flex items-center space-x-8">
      <a class="navbar-link" href="index.html">
       Home
      </a>
      <a class="navbar-link" href="recipes.html">
       Recipes
      </a>
      <a class="navbar-link" href="workout.html">
       Workout
      </a>
      <a class="navbar-link" href="mindfulness.html">
       Mindfulness
      </a>
      <a class="navbar-link" href="calculator.html">
       Calculator
      </a>
      <a class="navbar-link" href="contact.html">
       Contact
      </a>
     </div>
     <div class="md:hidden flex items-center">
      <button class="text-gray-600" id="menu-btn">
       <i data-feather="menu">
       </i>
      </button>
     </div>
    </div>
   </div>
  </nav>

 
